a {

    color: #33affa;
}

a:visited {

    color: #3e88b5;

}

body {

    background-color: #3d3d3d;
    color: #cccccc;
}

.text-grey-dk-100 {

    color: #7f7f7f !important;
}

.side-bar {

    border-right: 0px;
    background-color: #3d3d3d;

}

.main-content .anchor-heading svg {
    color: inherit;
}

.site-header {

    border-bottom: 0px;

}

.main-header {

    border-bottom: 0px solid #44434d;

}

div.highlighter-rouge {
    padding: 1rem;
    background-color: #303030;
    border-radius: 0px;

}


code {

    padding: 0.25em;
    background-color: #303030;
    border: 0px;
    border-radius: 0px;

}

h1, .text-alpha {
    font-size: 45px !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffb333;
}
